.idea
.idea_modules
node_modules
public
dist
.project
.tmp
.sass-cache
public/app/bower_components
/nbproject/private/
npm-debug.log
target
.settings
.classpath
RUNNING_PID
.cache
.target/
app/bower_components/*
bin/*
error.log
output.log
nbproject/*
logs
projectFilesBackup
clean_code/
docs/